body {
    font-family: "Lucida Console", "Monaco";
}

h1, h2, h3 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

textarea {
    resize: none;
}

/** Carousel styling */
.carousel-inner > .item > div {
    width: 60%;
    margin: auto;
}

.carousel-inner > .item > div > h1 {
	text-align: left;
}

.carousel-inner > .item > div > div > div > button {
	text-align: center;
	height: 100px;
	margin-bottom: 5%;
}

.carousel-control{
	background-image: none !important;
	background-color: none !important;
	color: black !important;
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
	font-size: 5em !important;
}

.carousel-indicators {
    visibility: hidden;
}

.level-buttons button {
    width: 90% !important;
    font-size: 3vw !important;
    max-font-size: 30px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-color: #49B1C6;
    background-color: #49B1C6;
    color: #FFF9F0;

}

.level-buttons button:hover {
    border-color: #337c8c !important;
    background-color: #337c8c !important;
    color: #ffffff !important;
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
    .level-buttons button {
        font-size: 1vw !important;
    }
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
    .level-buttons button {
        font-size: 1vw !important;
    }
}

/** General level styling **/

.menu, .navbar {
    background-color: #49B1C6;
    border-color: #49B1C6;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF9F0;
}

@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  .navbar-nav > li.navbar-right {
    float: right !important;
  }
}

#navBar {
    width: 80%;
    margin: auto;
    clear: both;
}

#homeBtn {
    float: left;
}

.panel-heading {
    background-color: #49B1C6 !important;
    color: #FFFFFF !important;
}

/** Cipher wheel styling **/
#cipher-wheel {
    position: relative;
    top: 0%;
    left: 0%;
    /*min-width: 200px;*/
    /*max-width: 600px;*/
    /*min-height: 200px;*/
    /*max-height: 600px;*/
}

.outer-wheel {
    position: absolute;
    top: 0%;
    left: 0%;
    object-position: center;
    width: 100%;
    padding: 5%;

}

.inner-wheel {
    padding: 5%;
    margin-top: 9.45%;
    left: 9.45%;
    position: absolute;
    cursor: pointer;
    width: 81.3%;
    object-position: center;
}

#key-display {
    position: absolute;
    font-size: 20px;
    font-size: 1.5vmax;
    width: 60%;
    margin-top: 52%;
    left: 20%;
    text-align: center;
    pointer-events: none;
}

/** Caesar level styling **/

#game {
    width: 80%;
    margin: auto;
}

.icon-box {
    display: inline-block;
    position: relative;
    width: 10%;
    height: 0;
    padding-bottom: 10%;
    margin:1%;
    overflow:hidden;
    font-size: 20px; 
    font-size: 1.5vw;
}

/** Caesar brute force level styling **/

.single-letter {
    text-align: center;
    display: inline-block;
    position: relative;
    width: 5%;
    margin-bottom: 3%;
    font-size: 1.5em;
    font-size: 1.5vmax;
}

/** Answer styling **/

.incorrect-answer span {
    color: #FF5454;
}

.correct-answer span {
    color: #54FF62;
}

.cipher {
    /*background-color: #F7ECE4 !important;*/
    background-color: #FFAA44 !important;
    color: #fff !important;
}

.plain {
    /*background-color: #E6F6F7 !important;*/
    background-color: #AAD9F7 !important;
    color: #7b7b7b !important;
}

.lock {
    /*color: #FFAA44 !important;*/

    /*-webkit-text-stroke-width: 5px;*/
    /*-webkit-text-stroke-color: #FFAA44;*/

}

.unlock {
    /*color: #AAD9F7 !important;*/

}

.answer-section {
    width: 80%;
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    font-size: 1.5vmax;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    clear: both;
    margin: 0 auto;
}

.answer-box {
    display: inline-block;
    position: relative;
    width: 10%;
    height: 0;
    padding-bottom: 10%;
    margin:1%;
    overflow:hidden;
    border-radius: 15%;
    background-color: #7b7b7b;
    color: white;
}

.box-content {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.box-content div {
    display: table;
    width: 100%;
    height: 100%;
}

.box-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.box-content i {
    display: block;
    vertical-align: middle;
    text-align: center;
}

/** Letter styling **/

.plaintext-box {
/*    float:left;*/
    display: inline-block;
    position: relative;
    width: 10%;
    height: 0;
    padding-bottom: 10%;
    margin:1%;
    overflow:hidden;
    border-radius: 15%;
    background-color: #e1e1e1;
    color: #7d7d7d;
}


/** Keyboard styling**/

.keyboard-row {
    width: 80%;
    text-align: center;
    font-weight: 600;
    font-size: 2vmax;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    clear: both;
    margin: 0 auto;
}

.keyboard-box {
    display: inline-block;
    position: relative;
    width: 13%;
    height: 0;
    padding-bottom: 13%;
    margin:1.66%;
    overflow:hidden;
    cursor: pointer;
    border-radius: 15%;
    background-color: #49B1C6;
}

.small-keyboard-box {
    display: inline-block;
    position: relative;
    width: 10%;
    height: 0;
    padding-bottom: 10%;
    margin:0.2%;
    overflow:hidden;
    cursor: pointer;
    border-radius: 0%;
    background-color: #ebebeb;
    font-size: 0.7em;
}

.box-selectable {
    color: #fafafa;
}

.box-selectable:hover {
    border-color: #337c8c;
    background-color: #337c8c;
    color: #ffffff;
}

.box-unselectable {
    background-color: #fafafa !important;
    color: #ebebeb;
    cursor: default !important;
}

.clickable {
    cursor: pointer;
}

/** Substitution mapping styling**/

.mapping-row {
    display: block;
    cursor: default;
}

.mapping {
    text-align: center;
    display: inline-block;
    position: relative;
    width: 11%;
    margin-bottom: 7%;
    font-size: 1.5em;
    font-size: 1.5vmax;
}

.keyLetter {
    padding: 15%;
    background-color: #AAD9F7;
}

.cipherLetter {
    padding: 15%;
    background-color: #FFAA44;
}

.mapping-icon {
    display: inline-block;
    position: relative;
    width: 10%;
    height: 0;
    padding-bottom: 10%;
    margin:1%;
    overflow:hidden;
}

.frequency-box {
    text-align: center;
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 13%;
    height: 0;
    margin:1.66%;
    padding-bottom: 13%;
    background-color: #ebebeb;
}

.frequency-key-letter {
    height: 0;
    padding-bottom: 100%;
    overflow:hidden;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}

.mapping-frequency-letter {
    padding: 15%;
    background-color: #53d8eb;
    color: #7b7b7b;
    background-color: #ebebeb;
}

.mapping-frequency-value {
    font-size: 0.7em;
    font-size: 1vmax;
    padding: 10%;
    background-color: #7b7b7b;
    color: white;
}

.frequency-key-value {
    overflow:hidden;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    background-color: #7b7b7b;
    color: white;
    font-size: 1em;
    font-size: 1vmax;
}

.sentence-line {
    display: block;
}

.sentence-letter {
    text-align: center;
    display: inline-block;
    position: relative;
    width: 5%;
    margin-bottom: 7%;
    font-size: 1.5em;
    font-size: 1.5vmax;
}

/** Other substitution styling stuff **/
.alert-info {
    font-size: 1em;
    font-size: 1vmax;
}

.faded {
    opacity: 0.6;
}

.strong {
    font-weight: bold;
}

/** Vigenere styling**/

.highlight {
    border: 4px solid black;
}

/** Incorrect/correct answer animations/styling **/
@-webkit-keyframes incorrect-letter {
    0% {
        color: red;
        opacity:1;
    }
    20% {
        color: black;
    }
    40% {
        color: red;
    }
    60% {
        color: black;
    }
    80% {
        color: red;
    }
    100% {
        color: black;
    }
}

.incorrect-letter {
    -webkit-animation-name: incorrect-letter;
    -webkit-animation-duration: 900ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

.correct-letter {
    color: #54FF62;
}

/** Tools menu styling **/

.thumbnail-box {
    margin-top: 100%;
}
.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
}

/** Caesar tool styling **/

.top-icon {
    vertical-align: top;
}

.center-icon {
    text-align: center;
}

/** Dividers **/
.divide10 {
	width: 100%;
	height: 10px;
}

.divide20 {
	width: 100%;
	height: 20px;
}

.divide50 {
	width: 100%;
	height: 50px;
}

.divide100 {
	width: 100%;
	height: 100px;
}