<!DOCTYPE html>
<html ng-app="cryptoLearner">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <script src="https://use.fontawesome.com/13139b496b.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>

    <title>CryptoLearner</title>
</head>

<body ng-controller="MenuController as menu">
    <div class="menu">
        <nav class="navbar navbar-default" role="navigation" id="navBar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="/index.html">CryptoLearner</a></li>
                    <li class="navbar-left">
                        <a href="/index.html" data-toggle="tooltip" data-placement="bottom" title="Home">
                            <i class="fa fa-home fa-2x"></i>
                        </a>
                    </li>
                    <li class="navbar-right">
                        <a href="/tools.html" class="menu-btn" data-toggle="tooltip" data-placement="bottom" title="Cryptography Tools" >
                            <i class="fa fa-wrench fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="game">
        <div class="divide20"></div>
        <div class="text-center">
            <div class="btn-group btn-group-lg" role="group" aria-label="Developer Menu" ng-hide="clickCount < 7">
                <button class="btn btn-default btn-lg" ng-click="unlockAllLevels()">Unlock All</button>
                <button class="btn btn-default btn-lg" ng-click="lockAllLevels()">Clear Progress</button>
                <button class="btn btn-default btn-lg">Do Nothing</button>
            </div>
            <div class="divide20"></div>
        </div>
        <p class="lead">CryptoLearner was developed as a fourth year project at the University of Auckland by Software Engineering students Mathew Smith and Lasharn Weerasinghe.</p>
        <div class="divide20"></div>
        <img class="img-responsive center-block" src="https://cdn.auckland.ac.nz/assets/central/central-services/mediaandmarketing/uoa-logos-2015/uoa-logo-2015-colour.png" width="300px" ng-click="incrementCount()">
    </div>
    <script src="./js/custom.js" type="text/javascript"></script>
</body>