<!DOCTYPE html>
<html ng-app="cryptoLearner">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />

    <script src="https://use.fontawesome.com/13139b496b.js"></script>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../js/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>
    <script type="text/javascript" src="../js/p2.min.js"></script>

    <title>Vigen&#232;re Cipher Introduction</title>
</head>

<body ng-controller="GameController as game">
<div class="menu">
    <nav class="navbar navbar-default" role="navigation" id="navBar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="../index.html">CryptoLearner</a></li>
                <li class="navbar-left">
                    <a href="../index.html" data-toggle="tooltip" data-placement="bottom" title="Home">
                        <i class="fa fa-home fa-2x"></i>
                    </a>
                </li>
                <li class="navbar-right">
                    <a href="#" ng-click="openHelp()" class="menu-btn" data-toggle="tooltip" data-placement="bottom" title="Help" >
                        <i class="fa fa-question-circle fa-2x"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div id="game" ng-controller="VigenereIntroController as level">
    <div class="divide50"></div>
    <!-- Question -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <header>
                <h1 class="text-center">Vigen&#232;re Cipher Introduction</h1>
            </header>
        </div>
        <div class="panel-body">
            <h3 class="text-center">Encrypt <code>{{plaintext}}</code> with keyword <code>{{keyword}}</code></h3>
        </div>
    </div>
    <!-- Cipher Wheel -->
    <div class="col-xs-12 col-md-5 col-lg-5" id="vigenere-wheel"></div>
    <!-- Player Input -->
    <div id="playerInput" class="col-xs-12 col-md-7 col-lg-7">
        <!-- Answer display -->
        <div ng-class="['answer-section', {'incorrect-answer': incorrectAnswer && !correctAnswer}, {'correct-answer': correctAnswer}]">
            <div class="icon-box">
                <div class="box-content">
                    <i class="fa fa-lock fa-2x"></i>
                </div>
            </div>
            <div ng-class="['cipher', 'answer-box', 'clickable', $index == currentAnswerIndex ? 'highlight' : '']"
                 ng-click="deselectLetter(letter)"
                 ng-repeat="letter in answerKeyboard track by $index">
                <div class='box-content'>
                    <div>
                        <span ng-attr-id="{{ 'answer-' + $index }}">{{letter.currentLetter}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Plaintext display -->
        <div class="answer-section">
            <div class="icon-box">
                <div class="box-content">
                    <i class="fa fa-unlock fa-2x"></i>
                </div>
            </div>
            <div ng-class="['plain', 'plaintext-box', 'clickable', $index == currentAnswerIndex ? 'highlight' : '']"
                 ng-click="deselectAllLetter(answerKeyboard[$index])"
                 ng-repeat="letter in plaintext track by $index">
                <div class="box-content">
                    <div>
                        <span>{{letter}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Keyword display -->
        <div class="answer-section">
            <div class="icon-box">
                <div class="box-content">
                    <i class="fa fa-key fa-2x"></i>
                </div>
            </div>
            <div ng-class="['key', 'plaintext-box', 'clickable', $index == currentAnswerIndex ? 'highlight' : '']"
                 ng-click="deselectAllLetter(answerKeyboard[$index])"
                 ng-repeat="letter in keywordKeyboard track by $index">
                <div class="box-content">
                    <div>
                        <span>{{letter.letter}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="divide100"></div>
        <!-- Keyboard display -->
        <div>
            <div class="keyboard-row">
                <div class="icon-box">
                    <div class="box-content">
                        <i class="fa fa-keyboard-o fa-2x lock"></i>
                    </div>
                </div>
                <div ng-class="['keyboard-box', letter.selectable ? 'box-selectable' : 'box-unselectable']"
                     ng-click="selectLetter(letter)"
                     ng-repeat="letter in keyboard track by $index" ng-if="$index < (keyboard.length / 2)">
                    <div class="box-content">
                        <div>
                            <span ng-attr-id="{{ 'keyboard-' + $index }}">{{letter.char}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="keyboard-row">
                <div class="icon-box">
                    <div class="box-content">
                    </div>
                </div>
                <div ng-class="['keyboard-box', letter.selectable ? 'box-selectable' : 'box-unselectable']"
                     ng-click="selectLetter(letter)"
                     ng-repeat="letter in keyboard track by $index" ng-if="$index >= (keyboard.length / 2)">
                    <div class="box-content">
                        <div>
                            <span ng-attr-id="{{ 'keyboard-' + $index }}">{{letter.char}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="HelpTitle" role="dialog" tabindex="-1" class="modal fade in" id="help-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="HelpTitle">Help</h3>
                </div>
                <div class="modal-body">
                    <p>The Vigen&#232;re cipher consists of several Caesar ciphers in sequence with different shift values. In this cipher
                    the keyword is repeated to the end of the plaintext. Each letter in the plaintext uses its corresponding keyword letter
                    to determine the cipher text letter.</p>
                    <p>The example below uses the keyword <code>SECRET</code> to encrypt a message:</p>
                    <p>Plaintext:&nbsp;&nbsp;&nbsp;&nbsp;<code>HELLO WORLD</code></p>
                    <p>Keyword:&nbsp;&nbsp;&nbsp;&nbsp;<code>SECRE TSECR</code></p>
                    <p>Ciphertext:&nbsp;&nbsp;<code>ZINCS PGVNU</code></p>
                    <p>Because the key repeats, this cipher can be cracked if an adversary guesses the key&apos;s length. The
                    <a href="https://en.wikipedia.org/wiki/Kasiski_examination" target="_blank">Kasiski test</a> is one method used to
                    break this cipher.</p>
                    <p><em>Tip: Use the cipher wheel to determine the mapping of each letter</em></p>
                    <br>
                    <p><a href="https://en.wikipedia.org/wiki/Vigen%C3%A8re_cipher" target="_blank">More information</a></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script type="text/javascript" src="../js/wheel.js"></script>
<script src="../js/custom.js" type="text/javascript"></script>