<!DOCTYPE html>
<html ng-app="cryptoLearner">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />

    <script src="https://use.fontawesome.com/13139b496b.js"></script>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../js/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>
    <script type="text/javascript" src="../js/p2.min.js"></script>

    <title>Caesar Decryption Tool</title>
</head>

<body>

<div id="game" ng-controller="CaesarDecryptTool as level">
    <header>
        <div id="navBar">
            <a href="../tools.html"><i id="homeBtn" class="fa fa-chevron-left fa-5x"></i></a>
            <h1 class="text-center">Caesar Decryption Tool</h1>
        </div>
    </header>
    <div class="divide100"></div>
    <!-- Player Input -->
    <div class="col-xs-12 col-md-6 col-lg-6">
        <!-- Input text -->
        <div class="row">
            <div class="icon-box top-icon">
                <div class="box-content">
                    <i class="fa fa-lock fa-2x"></i>
                </div>
            </div>
            <textarea rows="12" cols="72" ng-model="inputText" ng-change="updateOutput()" autofocus placeholder="Insert text to decrypt..."></textarea>
        </div>
    </div>
    <!-- Output area -->
    <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="row">
            <div class="icon-box top-icon">
                <div class="box-content">
                    <i class="fa fa-unlock fa-2x"></i>
                </div>
            </div>
            <div style="display: inline-block; width: 76%">
                <div class="panel-group">
                    <div class="panel panel-default" ng-repeat="result in outputList track by $index">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" ng-href="#{{$index}}">
                                    <i class="fa fa-key"></i> {{$index}}: {{result.substring(0, 50)}}</a>
                            </h4>
                        </div>
                        <div id="{{$index}}" class="panel-collapse collapse">
                            <div class="panel-body">{{result}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script type="text/javascript" src="../js/wheel.js"></script>